/* #headmain{ */
    /* background-color: red; */
/* } */
/* .firstbox{
    margin-top: 200px;
    margin-left: 120px;
    margin-right: 150px;
    padding: 150px;
    height: 120px;
    width: 200px;
    
}
.firstdiv{
    display: flex;
}
.secondbox{
    margin-left: 10px;
    
}
.firstpara{
    flex-direction: column;
    align-items: flex-start;
    padding-right: 24px;
}
.firsttime{
    margin-left: 10px;
}
.catalog-box .icon_box {
    width: 48px;
    height: 48px;
    margin-right: 10px;
} */

